.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  width: 17%;
  height: 100vh;
  overflow-y: auto;
}
.map-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.map-list a {
  display: block;
  padding: 8px;
  font-size: 16px;
  text-decoration: none;
  color: #336699;
}

.map-list a:hover {
  background-color: #e0e0e0;
}
.map-list a.selected {
  font-weight: bold;
  color: blue; /* Color for selected map */
}
.game-level {
  flex: 1;
  padding: 20px;
  max-width: 80%;
  overflow-y: auto;
}
.quest-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.quest-list h3 {
  margin-top: 20px;
}

.quest-list li {
  margin-bottom: 5px;
}

.quest-list a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  color: #993366;
}
.quest-list a.selected {
  font-weight: bold;
  color: blue;
}
.quest-link {
  text-decoration: none;
  color: #993366; /* Change the color as needed */
  display: block;
  padding: 10px 0; /* Adjust padding as desired */
}

.quest-link:hover {
  background-color: #f0f0f0; /* Optional: Add hover background color */
}

.quest-link.selected {
  color: blue;
  font-weight: bold;
}
.Header-Link,
.Language-Dropdown {
  margin-bottom: 10px; /* Add space between SHOP and Language Dropdown */
}
.quest-link.completed {
  color: green; /* Change to the color you want for selected item */
  text-decoration: line-through;
}
.left-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the sidebar takes the full height of its parent */
}

.map-list {
  flex-grow: 1; /* Allow the list of maps to grow and occupy the available space */
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 20%; /* Adjust the width as needed */
  }
}
