.game-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*height: 100vh;  Set the height to 100% of the viewport height */
  scroll-behavior: smooth;

  overflow: auto; /* Enable scrolling for the component's content */
}

.game-container.center-only-when-fit {
  align-items: center;
  padding: 0; /* No padding when centered */
}

.level-description {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 20;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  transition: background-color 0.3s, padding 0.3s; /* Add transition properties */
}

.level-description.sticky {
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.level-description p {
  font-size: 1.25rem;
}

.level-description .icons {
  display: flex;
  gap: 32px;
}

.level-description .icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
}

.level-description .icons img {
  height: 60px;
}

.level-description .icons .hit {
  opacity: 0.5;
}

.level-description .back {
  font-size: 1.1rem;
  padding: 0px 18px;
  border-radius: 8px;
  border: none;
}

.level-description .back {
  color: white;
  background-color: #f87171;
}

.level-description .back:hover {
  background-color: #ef4444;
}

.level-description .back:active {
  background-color: #dc2626;
}

.game {
  height: 100%; /* Set the height to match the container's height */
  object-fit: contain;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
.game img {
max-width: 1170px;
  width: auto;
  height: auto;
}*/
.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally within each column */
}
.question {
  display: inline;
  flex-flow: wrap;

  overflow-wrap: break-word;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.5s ease-in-out; /* Use ease-in-out timing function for smoother transition */
}
.red-question {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: red; /* Set the text color to red */
  transition: color 0.5s ease-in-out; /* Use ease-in-out timing function for smoother transition */
}
.timer {
  font-size: 1.2rem;
  font-weight: bold;
}

.circular-indicator {
  position: absolute;
  width: 40px;
  height: 40px;
  /* background-color: rgba(0, 0, 255, 0.4);
    border: 2px dashed blue;*/
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;

  color: white;
}
/* Style for the empty divider */
.divider {
  width: 2px; /* Adjust the width of the divider */
  height: 20px; /* Adjust the height of the divider */
  background-color: transparent; /* Adjust the color of the divider */
  margin: 0 15px; /* Adjust the margin around the divider */
}
@media screen and (max-width: 768px) {
  .divider {
    display: none; /* Hide the divider on smaller screens */
  }
  .game-container {
    margin-top: 100px;
  }
  .level-description {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: auto;
    max-width: 80%;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text horizontally */
    padding: 10px; /* Adjust padding as needed */
    top: 5px;
    left: 5px;
  }
  .column {
    display: flex;
    flex-direction: row;
    align-items: center; /* Optional: Align items vertically within the container */
  }
}
