.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  /*position: sticky;*/
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 10;
  margin-bottom: 10px;
}
.stroke {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin: 0px;
}
.heading .title {
  font-family: Oswald-Bold;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #0000;
}
p {
  margin-top: 5px; /* Adjust this value as needed */
  font-size: 1rem;
  color: #777;
}
.heading .title a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000; /* Set the color to black or any valid color code */
}
.heading .title a:link,
.heading .title a:visited {
  color: #000; /* Set the color to black or any desired color code */
}
.heading .blue {
  color: #3b82f6;
}

.heading img {
  height: 100px;
  width: auto;
  margin-right: 8px;
}

.heading .Header-Link {
  font-family: Oswald-Bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

/* Styles for the link */
.heading .Header-Link a {
  font-size: 1rem; /* Adjust the font size as needed */
  color: #000;
  text-decoration: none;
  position: relative; /* Add relative positioning */
  transition: color 0.3s;
}

/* Hover effect */
.heading .Header-Link a:hover {
  color: #777; /* Change to desired hover color */
}
/* Style for the empty divider */
.divider {
  width: 2px; /* Adjust the width of the divider */
  height: 20px; /* Adjust the height of the divider */
  background-color: transparent; /* Adjust the color of the divider */
  margin: 0 15px; /* Adjust the margin around the divider */
}
/* Styles for the stroke below the link */
.heading .Header-Link a:hover::before {
  content: "";
  width: 100%; /* Make the stroke width 100% of the link's width */
  height: 2px;
  background-color: #777;
  position: absolute;
  bottom: -5px; /* Adjust the distance of the stroke from the link */
  left: 0;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .heading {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 10px;
  }

  .title a {
    display: inline-block;
    margin-bottom: 5px;
  }

  .divider {
    display: none; /* Hide the divider on smaller screens */
  }
}
.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
}

.menu-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative; /* Add relative positioning */
  cursor: pointer;
  width: 40px; /* Set the width and height for the circle */
  height: 40px;
  background-color: white; /* Set the background color for the circle */
  border-radius: 50%; /* Make it a circle */
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 2px auto;
  transition: 0.4s;
  transform: translate(0, 10px);
}

.circle {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%;
}
.menu {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 10;
}

.menu.active {
  display: block;
}
.classic-menu {
  margin: 15px auto;
  display: flex;
  align-items: center;
  gap: 15px; /* Add some gap between menu items */
}
.classic-hidden {
  display: flex;
  align-items: center;
  gap: 15px; /* Add some gap between menu items */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 30;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }

  .heading.menu-open .menu-toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-12px, 10px);
  }

  .heading.menu-open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .heading.menu-open .menu-toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(3px, 5px);
  }

  .menu {
    top: 60px;
    z-index: 30;
    width: 250px;
  }
  .classic-hidden {
    display: none;
  }
  .heading.menu-open .menu {
    display: block;
  }
  .classic-menu {
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width of the viewport */
  }

  .menu-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
}
