.data table {
  text-align: left;
  table-layout: fixed;
  width: 98%;
  border-radius: 18px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.data th,
.data td {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.data td {
  font-size: 0.9rem;
}

.data tbody:last-child {
  border-bottom: none;
}
.data th:nth-child(2) {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .data th {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8rem; /* Reduced font size for mobile */
  }
}
.bold-text {
  font-weight: bold;
}
