.selection-menu {
  background-color: white;
  color: black;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  border-radius: 12px;
}

.selection-menu > div {
  flex: 1;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 8px 10px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*gap: 10px;*/
  cursor: pointer;
}

.selection-menu > div.disabled {
  cursor: default;
  opacity: 0.4;
}

.selection-menu > div:hover {
  background-color: #f3f4f6;
}

.selection-menu > div:active {
  background-color: #e5e7eb;
}

.selection-menu img {
  height: auto;
  width: auto;
}

.level {
  /* ... your existing styles ... */
  display: flex;
  flex-direction: column;
  position: relative;
}
.level .image-container {
  position: relative;
}

.level .type-animation {
  font-family: Oswald-Bold;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  transition: opacity 0.2s;
  pointer-events: none; /* Make the TypeAnimation component not capture pointer events */
  opacity: 0; /* Start with opacity 0, will become 1 on hover */
  -webkit-text-stroke: 2px white;
}
.level:hover .type-animation {
  opacity: 1; /* Show the TypeAnimation component on hover */
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
  .level .type-animation {
    font-size: 1.5rem;
  }
}

/* Further adjustments for even smaller screens */
@media screen and (max-width: 480px) {
  .level .type-animation {
    font-size: 1rem;
  }
}
